<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/adminHome.css" />
    <link rel="stylesheet" href="~/css/addplace.css" />

</head>

<body>
    <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
         id="sidebar">
        <ul class="nav flex-column text-white w-100">
            <a href="/home/index" class="nav-link h3 text-white my-2">
                TripNestor
            </a>
            <li class="nav-link">
                <a href="/admin/adminHome" class="mx-2">Home</a>
            </li>
            <li href="/Admin/addPlace" class="nav-link">
                <a href="/admin/addPlace" class="mx-2">Add a Place</a>
            </li>
            <li href="#" class="nav-link">
                <span class="mx-2">Add a Hotel</span>
            </li>
            <li href="#" class="nav-link">
                <span class="mx-2">Update Hotel</span>
            </li>
            <li href="#" class="nav-link">
                <span class="mx-2">Update Place</span>
            </li>
            <li href="#" class="nav-link">
                <span class="mx-2">View  All Hotels</span>
            </li>
        </ul>




        <span class="nav-link h4 w-100 mb-5">
            @*            <button type="button" class="btn btn-dark btn-lg">Logout</button>
            *@            <a href="/admin/logout" class="link-dark" style="color:white; text-decoration:none">Logout</a>
        </span>
    </div>
  

    </body>
</html>
