
<div style="color:black">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce a feugiat nulla, vel efficitur augue.
        Mauris blandit mauris ut lorem interdum volutpat.
        Fusce semper urna.
    </p>
    <h5>
        Copyright © 2022 TripNestor.com
    </h5>
</div>
