
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@600;700&family=Inconsolata&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/loginsignup.css">
    <link rel="stylesheet" href="~/css/signin-up.css">
    <title>LOGIN/SIGNUP</title>
</head>
<body>
    @if (@ViewBag.flag == true)
    {
        <div>
            <h1>@ViewBag.Message </h1>
        </div>
    }
    @*else
    {
        <div>
            <h1>@ViewBag.Message </h1>
        </div>

    }*@
    @if (ViewBag.invalid == true)
    {
<div style="position: fixed; top: 0; right: 5rem; background-color: red;">
    <p style="font-family:Arima,cursive">@ViewBag.invalidmsg</p>
    <span class="closebtn" style="position: absolute; top: 0; right: 0; margin: 0px 10px; font-size: 24px; font-weight: bold; color: #fff;" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
    }
    <div class="container" id="container" style="margin-top: 2rem">
        <div class="form-container sign-up-container">
            <form method="post" action="/user/AddUserToDB">
                <h1>Create Account</h1>
                <input type="text" placeholder="Name" name="userName" />
                <input type="email" placeholder="Email" name="userEmail" />
                <input required type="password" placeholder="Password" name="userPassword" />
                <button id="SIGNUP" type="submit" name="submit">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <!--                            <button id="backBtn" type="submit"onclick="history.back()">&larr;</button>-->
            <form method="POST" action="/user/Login">

                <h1>Sign in</h1>
                <input type="email" placeholder="Email" name="email" />
                <input type="password" required placeholder="Password" name="password" />
                @*                <a href="/forgotPassword"> <u> Forgot your password?</u></a>
                *@                <button id="SIGNIN" type="submit" name="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>TripNestor</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam
                    </p>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="MobileDisplay" id="MobileDisplay">
        <div class="container-fluid">
            <form method="POST" style="height: 26rem;">
                <h1 style="color:white">TripNestor </h1>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter password" name="password">
                </div>
                <a href="/forgotPassword"> <u style="color:black"> Forgot your password?</u></a>

                <button type="submit" id="SIGNIN" class="btn ">Sign In</button>
                <!--        <div class="dropdown-divider"></div>-->
                <a style="color:black" class="dropdown-item" id="MobileSignUp" onclick="displayfunc()">New Member? <u>Sign up</u></a>

            </form>
        </div>
    </div>

    @*    {% if flag1==True %}
    *@    <div class="MobileDisplaySignUp" id="smallscreen">
        <div class="container-fluid ">
            <form method="POST" style="height: 26rem;">
                <h1 style="color:white">TripNestor</h1>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Enter your Name" name="userName">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Enter your Email" name="userEmail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter your password" name="userPassword">
                </div>
                <button type="submit" class="btn ">Sign Up</button>
                <!--        <div class="dropdown-divider"></div>-->

            </form>
            @*   {% endif %}*@
        </div>
    </div>

    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        const mobileSignUpClick = document.getElementById('MobileSignUp');
        const mobileSignUp = document.getElementById('MobileDisplay');
        const mobileSignUpContainer = document.getElementById('smallscreen');
        // mobileSignUpClick.addEventListener('click',()=>{
        //     mobileSignUp.style.display="None";
        //     mobileSignUpContainer.style.display="block";
        // });
        function displayfunc() {
            mobileSignUp.style.display = "None";
            mobileSignUpContainer.style.display = "block";
            console.log("abcdefgh")

        }
        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });

    </script>
</body>
</html>