@*@{ Layout = "~/Views/Shared/_Layout.cshtml";}
*@
@{ Layout = "_Layout";}
@*<body id="main-page" class="main-page">
    <div class="backg-grad"></div>
    <div class="mheader">

    </div>*@

@*    </div>
*@    
<div class="main-content backg-grad">
    <div class="mc-container">
        <div class="mc-left">
            <span class="main-line">TripNestor</span>
            <p class="main-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis a nisi repudiandae, ipsa accusamus excepturi asperiores commodi architecto! Expedita, autem magni beatae numquam minus porro ipsum natus magnam voluptatum unde!</p>
        </div>


    </div>

    <section id="aboutus">
        <div style="padding:2rem;">
            <h2 style="font-family: ' Montserrat', sans-serif; font-weight:bold">
                About us
            </h2>
            <p style="font-weight:bold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec suscipit lorem. Cras porttitor scelerisque accumsan. In cursus nec erat sit amet hendrerit. Aenean vehicula vestibulum pulvinar.
                Mauris in lectus vitae risus maximus elementum. Aliquam id eros
                ac ipsum dictum placerat vel in purus. Suspendisse potenti.
            </p>
            <p  style="font-weight:bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec suscipit lorem. Cras porttitor scelerisque accumsan. In cursus nec erat sit amet hendrerit. Aenean vehicula vestibulum pulvinar. Mauris in lectus vitae risus maximus elementum. Aliquam id eros ac ipsum dictum placerat vel in purus. Suspendisse potenti.</p>
        </div>
    </section>
    <section id="contactus">
        <div style="padding:2rem;">
            <h2 style="font-family: ' Montserrat', sans-serif; font-weight:bold">Contact us
            </h2>
            <p  style="font-weight:bold"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
            </section>
    <hr />

    @section Footer{
        <div id="copyright">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce a feugiat nulla, vel efficitur augue.
                Mauris blandit mauris ut lorem interdum volutpat.
                Fusce semper urna.
            </p>
            <h5>
                Copyright © 2022 TripNestor.com
            </h5>
        </div>




    }
