* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;
    /*height: auto;  Should be removed. Only for demonstration */
  }
  #col1{
    background-image: linear-gradient(#0b0c0c,#154962);
    /* background-color: #0b0c0c; */
    width: 49%;
    /* border: 2px solid black; */


  }
  #col1P{
    color: white;
    float:right;
    padding-right: 94px;
    margin-top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Arima', cursive; */
  }
  #col2{

    background-color: rgb(65, 60, 112);
    width: 51%;
    border: 2px solid rgb(177, 4, 4);


  }
  #logo{
    width: 330px;
    /* display: block; */
    float: left;
    margin-left: 136px;
    margin-top: 15px;
  }